body {
  margin: 0;
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/*Cover Hero*/
.cover {
  width: 30vw;
  height: 100vh;
  min-height: 40rem;
}

.logo-banner {
  position: absolute;
  top: 20%;
  width: 30%;
  height: 10rem;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover #logo {
  color: white;
  font-size: 3rem;
}

.cover h6 {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  position: absolute;
  bottom: 0%;
  height: auto;
  color: white;
  padding-bottom: 1rem;
}

/*Form*/
main {
  width: 70vw;
  overflow: hidden;
}

.sign-up {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 2rem 2rem 2rem;
  height: 100%;
}

.form-section {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  height: 23rem;
}

header {
  display: flex;
  flex-direction: column;
  margin-top: -8rem;
  width: 80%;
}

header p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2rem;
}

header p:last-child {
  padding-bottom: 2rem;
}

#form-signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#form-submitButton {
  height: 2rem;
  width: 10rem;
  background-color: #7ba687;
  color: white;
  border-radius: 2rem;
  border: none;
}

#form-submitButton:hover {
  background-color: #5e7f6a;
}

#error-message {
  color: red;
  font-size: 0.8rem;
  font-family: "Ubuntu", sans-serif;
}

.hide {
  display: none;
}

.wrapper * {
  display: flex;
}

#form-submitButton {
  margin: 0 auto;
}

input {
  margin: 0 0 1rem 0;
  border-radius: 0.3rem;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

label {
  font-family: "Ubuntu", sans-serif;
  min-width: 6rem;
}

.link {
  color: blue;
  text-decoration: underline;
}
